streamlit==1.55.0
chromadb==1.5.5
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-experimental==0.0.57
langchain-text-splitters==0.0.2
langsmith==0.1.147
psycopg2-binary==2.9.11

